html {
	box-sizing: border-box;
	font-size: 13px;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}

img {
	max-width: 100%;
	height: auto;
}

table,
tr,
th,
td {
	border: 0.5px solid white;
}
table {
	width: 100%;
}

button {
	width: 100px;
}

label {
	font-size: 20px;
}

.div-file-preview,
.div-search-result {
	max-height: 450px;
	overflow-y: auto;
}

.p-file-preview {
	font-size: 20px;
}

.search-results {
	border-collapse: collapse;
    margin-top: 10px;
}

#file-preview {
	font-size: 14px;
}

.case-sensitive {
	margin-top: 0px;
}

.case-sensitive-text {
	font-size: 18px;
}

.searchbtn {
	margin-top: 10px;
}

.search-param-checkbox {
	width: 15px;
	height: 15px;
}
